@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
  --light-blue: #E2F0F9;
  --light-green: #B0DDE4;
  --blue: #286FB4;
  --white: #ffffff;
  --red: #DF4C73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}